{% extends 'base.html' %}
{% block title %}BrechóSim{% endblock %}

{% block content %}
    {% for bloco in blocos %}
        {% include "components/slide.html" %}
        {% include "components/banner.html" %}
        {% include "components/cards.html" %}
        {% include "components/faq.html" %}
        {% include "components/contato.html" %}
        {% include "components/depoimentos.html" %}

        <a href="{% url 'processar_pagamento' item_id=1 tipo_item='produto' %}">Comprar com Mercado Pago</a>


    {% endfor %}
    {% include "components/footer.html" %}
{% endblock %}