# Ignore o ambiente virtual
.venv/

# Ignore arquivos de cache
__pycache__/
*.pyc

# Ignore arquivos de configuração do VS Code
.vscode/

# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore o static
static/

# Ignore o .env
.env/

# Ignore pi2, arquivos para relatorio univesp
pi2/
