<!-- Indices -->
<section>
    <div class="banner">
        <div class="container py-lg-5">
            <div class="row d-flex align-items-center">
                <div class="col-md-5">
                    <span>INDICE DE SATISFAÇÃO</span>
                    <h2 class="mb-4 fs-1">Mais de 5.100 profissionais confiam em nós</h2>
                    <p class="mb-0 fs-2"><a href="#"
                            class="btn btn-outline-secondary btn-lg px-4 py-3">Depoimentos</a></p>
                </div>
                <div class="col-md-7">
                    <div class="row pt-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="fs-2">
                                <strong class="text-primary">30</strong>
                                <span>Anos de Experiência</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="fs-2">
                                <strong class="text-primary">+100.000</strong>
                                <span>Equipamentos</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="fs-2">
                                <strong class="text-primary">+6.000</strong>
                                <span>Profissionais</span>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="fs-2">
                                <strong class="text-primary">100%</strong>
                                <span>De Satisfação</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Indice -->